
/*
 *  Utility Classes
 */
._private .text-center {
  text-align: center;
}

.margin-0-auto {
  margin: 0 auto;
}

/*
 *  Settings Styles
 */

header {
  margin-top: 10px;
}

section,
footer {
  margin: 0 15px 15px 15px;
}

a,
a:active,
a:visited,
a:link {
  text-decoration: none;
  color: #4E4E4E;
}

a:hover {
  color: #A4A4A4;
}
